@page "/createcharacter/golden"
@using Components.Buttons
<h1>The Golden Guardian</h1>
<div>
    <MyButton ButtonText="Back To Color Choices" OnClick="ReturnToColorChoices" />
    <MyButton ButtonText="Choose Golden" OnClick="ChooseGolden" />
</div>
<h4>Kin: The people of Vana</h4>

<h4>Mission: You must find a major Orc chieftaina and cleanse him and his entire warband of Melkor's corruption.</h4>
<p>You are of the kin of Vana, the goddess of spring and the golden hours of the day. Your entire life is about joy, both bringing it and preserving it.</p>
<p>You are especially distraught when Melkor began his great discord during the song at the beginning of the world, and this memory has scarred you.</p>
<p>You have actually been in Middle Earth before, appearing wherever you can find wildflowers and golden sunshine and tumbling brooks. Children can see you, although adults struggle to see you.</p>
<p>Inherent strengths:
    <ul>
        <li>You can charm most creatures, including creatures of Melkor without strong will. +3 Willpower when attempting to charm or distract.</li>
        <li>You can communicate with Valinor, not too often, but enough to receive both wisdom and help from the greater Valar.+2 Willpower for a short while after you commune with them.</li>
        <li>Sylvan elves and the children of any species love you. 
            <ul>
                <li>+2 Wisdom when communicating with Sylvan elves</li>
                <li>+1 Wisdom when communicating with children.</li>
            </ul>+2 Wisdom when communicating with Sylvan elves, +1 Wisdom when communicating with children.</li>
        <li>You have the power to remove corruption from any creature of your choosing. This can only be recharged by communing with Valinor.</li>
        <li>You recharge your magic by cleansing a corrupted creature with lesser willpower than yours.</li>
    </ul>
</p>
<p>
    Inherent weaknesses:
    <ul>
        <li>You cannot use weapons at all and most of your magic is defensive, protective or an illusion.
            <ul>
                <li>-1 Strength if you touch a weapon.</li>
                <li>-2 Agility if you attempt to use a weapon.</li>
            </ul>
        </li>
        <li>You are weakened in cold areas. -2 Agility in cold areas.</li>
        <li>You are easily distracted. -3 Wisdom when distracted.</li>
    </ul>
</p>
<h4>Starting Stats</h4>
    <ul>
        <li>+5 Willpower (WP): Represents mental fortitude and resistance to magical corruption.</li>
        <li>+2 Wisdom (WD): Indicates knowledge of lore, understanding of nature, and strategic thinking.</li>
        <li>+3 Agility (AG): Determines speed, reflexes, and ability to navigate terrain.</li>
        <li>+0 Strength (ST): Reflects physical power and endurance.</li>
    </ul>
<div>
    <MyButton ButtonText="Back To Color Choices" OnClick="ReturnToColorChoices" />
    <MyButton ButtonText="Choose Golden" OnClick="ChooseGolden" />
</div>
<div>
    <img src="images/vana.jpg" alt="Golden" />
</div>
@inject NavigationManager NavigationManager
@code {
    private void ReturnToColorChoices()
    {
        NavigationManager.NavigateTo("/createcharacter");
    }
    private void ChooseGolden()
    {
        NavigationManager.NavigateTo("/createcharacter");
    }
}