@page "/createcharacter/violet"
@using Components.Buttons
<div>
    <MyButton ButtonText="Back To Color Choices" OnClick="ReturnToColorChoices" />
    <MyButton ButtonText="Choose Violet" OnClick="ChooseViolet" />
</div>
<h1>The Violet Vampirehunter</h1>

<h4>Kin: The people of Nessa</h4>
<h4>Mission: There is a rumor that a human being has found a way to cheat death. You must stop them.</h4>
<div>
    <p>At first blush, Nessa doesn't seem the obvious choice for a hunter of the undead. But there is nothing unnatural about undeath, and who better to restore the world to its natural place than the goddess of hunting and dance?</p>
    <p>The people of Nessa love dance, festivities, song and running through the woods. Thus, the idea that the woods are growing dangerous for the wild and young and free has caused great alarm among your kin.</p>
    <p>You have been sent to end the curse of undeath, an abomination against Eru Iluvatar and most dastardly of the deeds of Melkor.</p>
    <p>Inherent strengths:
        <ul>
            <li>You are extremely agile, able to dodge and flee. +3 Agility when in the forest or while hunting.</li>
            <li>You are the protector of women. +3 Wisdom when interacting with women.</li>
            <li>Dogs love you. +2 Willpower when traveling with a dog.</li>
        </ul>
    </p>
    <p>
        Inherent weaknesses:
        <ul>
            <li>Anything unpredictable or chaotic, such as direct corruption, causes your magic to be less potent. -1 Willpower for every corruption point you take.</li>
            <li>Your magic can be manipulated by creatures of Melkor with the right powers. -2 Wisdom when interacting directly with a creature made by Melkor.</li>
            <li>Every death is like a blow to your face. -2 Strength when someone dies.</li>
        </ul>
    </p>
    <h4>Starting Stats</h4>
    <ul>
        <li>+2 Willpower (WP): Represents mental fortitude and resistance to magical corruption.</li>
        <li>+2 Wisdom (WD): Indicates knowledge of lore, understanding of nature, and strategic thinking.</li>
        <li>+3 Agility (AG): Determines speed, reflexes, and ability to navigate terrain.</li>
        <li>+3 Strength (ST): Reflects physical power and endurance.</li>
    </ul>
</div>
<div>
    <MyButton ButtonText="Back To Color Choices" OnClick="ReturnToColorChoices" />
    <MyButton ButtonText="Choose Violet" OnClick="ChooseViolet" />
</div>
<div>
    <img src="images/nessa.jpg" alt="Violet" />
</div>
@inject NavigationManager NavigationManager
@code {
    private void ReturnToColorChoices()
    {
        NavigationManager.NavigateTo("/createcharacter");
    }
    private void ChooseViolet()
    {
        NavigationManager.NavigateTo("/createcharacter");
    }
}