@page "/createcharacter"
@using Components.Buttons
<h1>Creating Your Istari</h1>
<MyButton ButtonText="Back" OnClick="Back" />
<p>Every Istari must choose a color. These are specially chosen by the wisest of the Valar, with deep insight into your character.</p>

<MyButton ButtonText="See Colors" OnClick="ShowColors" />
<hr />
@if(showColors)
{
    @foreach(var color in colors)
    {
        <input type="radio" @onclick="() => SelectColor(color)" />@color<br/>
    }
}

@inject NavigationManager NavigationManager
@code {
    private bool showColors = false;
    private string[] colors = new string[] { "Emerald", "Crimson", "Golden", "Pink", "Silver", "Obsidian", "Aquamarine", "Azure", "Dusky Green", "Indigo", "Orange", "Violet", "SkyBlue", "Lavender"
    };
    private void ShowColors()
    {
        showColors = !showColors;
    }
    private void SelectColor(string color)
    {
        NavigationManager.NavigateTo($"/createcharacter/{color}");
    }

    private void Back()
    {
        NavigationManager.NavigateTo("/");
    }
}
