@page "/"
@using Microsoft.AspNetCore.Components
@using Components.Explanations
@using Components.Buttons
<h3>Hello Fellow Wizards</h3>

<MyButton ButtonText="Create Istari" OnClick="ShowMessage"></MyButton>
<LandingExplanation />
@if(showMessage)
{
    <p>@message</p>
}

@code {
    private string message = string.Empty;
    private bool showMessage = false;
    private void ShowMessage()
    {
        showMessage = !showMessage;
        message = "You have created an Istari!";
    }

}
